<div class="user-container">
  <% @users.each do |user| %>
    <div class="user-wrapper">
      <div class="photo-box">
        <img class="user-img" src="
        <% user.photo %>" alt="<%= user.name %>">
      </div>

      <div class="text-box">
        <h2><%= link_to user.name, user_path(user) %></h2>
        <p>Number of posts: <%= user.posts_counter %></p>
      </div>
    </div>
  <% end %>
</div>