<%= render 'layouts/profile', user: @user %>
<div class="border border-dark p-3 my-3">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<div>
  <h2 class="mt-4">Recent Posts:</h2>
  <% @user.recent_posts.each do |post| %>
    <div class="mt-3">
    <%= render 'layouts/post', post: post %>
    </div>
  <% end %>
</div>

<div class="text-center mt-3">
  <%=link_to 'See all posts', user_posts_path(@user), class: 'btn btn-secondary'%>
</div>