<div class="container my-2">
  <div class="row ">
    <div class="col-3 col-md-2 border border-dark"><img class="img-thumbnail" src="<%= user.photo %>" alt="<%= user.name %>"></div>
    <div class="col-8 col-md-9 border border-dark ms-auto p-2 p-md-3">
      <h1><%= link_to user.name, user_path(user), class: 'text-dark' %></h1>
      <p class="text-end">Number of posts: <%=user.posts_counter %></p>
    </div>
  </div>
</div>